# Base Blog Settings
baseurl: "" # Subpath of the site, "" for Github Pages
url: "https://msoe-sse.github.io" # Base site hostname and protocol
blog:
  title: SSE
  description: >
               The Destination for Professional Software Engineers

# Layout configuration
  logo_path                  : "assets/img/dactl.svg" # path to logo file
  search_path                : # "yourgitusername.github.io"
                               # needed for searchbox in archive page
  hero_layout                : true # turn on hero layout for blog and posts
  hero_placeholder           : "assets/img/generic_hero.jpg" # placeholder for hero image
  excerpts                   : true # show excerpts instead of full post content on blog page
  inline_footnotes           : true # enable/disable barefoot inline footnotes
  titles_only                : false # show post titles only on main blog page

# Fonts
  font                       : '"Rubik", -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif'
  load_google_fonts          : 'Rubik:400,400italic,700,700italic'


# Author info
author:
  fullname                  : Society of Software Engineers
  rss                       : true # Generate RSS feed and add logo to header
  mail                      : flemingg@msoe.edu # change to your e-mail address
  twitter                   : #twitter-user-name # Add Twitter username to add header logo
  github                    : msoe-sse # Add Github username to add header logo
  youtube                   : #youtube-user-name # Add YouTube username to add header logo
  stackoverflow             : #stackoverflow-user-name # Add Stack Overflow username to add header logo
  disqus                    : #disqus-site-name # Add Disqus site name to add comments
  google_analytics          : 'UA-127592939-1' # Add Google Analytics token to add GA support
  photo                     : "uploads/SSE_LOGO.png"
  photo2x                   : "uploads/SSE_LOGO.png"



## !!
## Advanced blog settings
## You should not change anything here unless you know what you are doing

# Gems
plugins:
  - jekyll-paginate
  - jekyll-sitemap

# Permalinks
permalink                    : posts/:slug

# Posts
excerpt_separator            : <!–-break-–>

# Pagination
paginate                     : 5
paginate_path                : '/page/:num/'

# Tags
collections:
  my_tags:
    output: true
    permalink: /tag/:slug/
  repositories:
    output: true
  events:
    output: true
    permalink: /events/:path
    title: events
  constitution:
    output: true
  points:
    output: true
defaults:
  -
    scope:
      path: ""
      type: my_tags
    values:
      layout: blog-by-tag

# Handling Reading
exclude                    : ["README.md", "README.html"]

# https://github.com/jekyll/jekyll/issues/4619
# Markdown and highlighter settings
markdown: kramdown
# !github-pages! mandatory › https://help.github.com/articles/using-jekyll-with-pages/#configuration-settings-you-cannot-change
# Since Jekyll 3 the default highlighter is Rouge (replaced Pygments.rb in v44)
highlighter: rouge

# More › http://kramdown.gettalong.org/quickref.html
# Options › http://kramdown.gettalong.org/options.html
kramdown:
  input:          GFM
  # https://github.com/jekyll/jekyll/pull/4090
  syntax_highlighter: rouge

  # Rouge Highlighter in Kramdown › http://kramdown.gettalong.org/syntax_highlighter/rouge.html
  # span, block element options fall back to global
  syntax_highlighter_opts:
    # Rouge Options › https://github.com/jneen/rouge#full-options
    # css_class: 'highlight'
    #line_numbers: true # bad idea, spans don't need linenos and would inherit this option
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

# Sass settings
sass:
  sass_dir                : _sass
  style                   : compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style

# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings               : all
  endings                 : all
  comments                : ["<!-- ", " -->"]
  blanklines              : true
  profile                 : false
  ignore:
  envs                    : [local]
include:
  - "msoe-sse-img1.jpg"
  - "msoe-see-img2.jpg"