<header>
    <div class="site-navigation">

      <!--Site Title and SVG Logo-->
      <div class="logo">
        <a class="logotext" href="{{ '/' | prepend: site.baseurl }}">{{ site.blog.title }}</a>
        <img class="logosvg" src="{{ site.blog.logo_path | relative_url }}"/>
      </div>

      <!--Menu Bar and drop downs -->
      <div class="navigation-bar">
        <div class="main-menu">
          <span id="mobile-menu-button" class="menu-button" onclick="toggleNav()">menu</span>
        </div>
          <div id="menu-items" class="main-menu-items">
            {% for menu in site.data.menus %}
              {% if menu.submenus.size > 0 %}
                <div class="dropdown-wrapper">
                  {% if menu.link %}
                    <a class="navigation-bar_link" href="{{ menu.link | prepend: site.baseurl }}">{{menu.name}}</a>
                  {% else %}
                    <span class="navigation-bar_link">{{menu.name}}</span>
                  {% endif %}
                  <div class="dropdown-menu-content">
                    {% for submenu in menu.submenus %}
                      <a class="navigation-bar_link_dropdown" href="{{ submenu.link | prepend: site.baseurl }}">{{submenu.name}}</a>
                    {% endfor %}
                  </div>
                </div>
              {% else %}
                {% if menu.link %}
                  <a class="navigation-bar_link" href="{{ menu.link | prepend: site.baseurl }}">{{menu.name}}</a>
                {% else %}
                  <span class="navigation-bar_link">{{menu.name}}</span>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
      </div>
    </div>
    <br/>
    <div class="utility-bar">
        <span>{% include search.html %}</span>
    </div>
    <div>
      <a href="#" onclick="switchTheme()" title="Switch theme?" class="smaller social-bar_link switch-theme-icon">
        <span class="icon-invert_colors" id="theme-switcher"></span>
      </a>
    </div>
        <script type="text/javascript" src="/assets/js/nav.js"></script>
</header>
