// Footer
//-------------------------------

footer {
    font-size: 0.85em;
    color: var(--text-color-light);
    text-align: center;
    line-height: $base-line-height;
    width: 100%;
    background-color: var(--hero-heading-color);
    margin-bottom: 1rem;
    padding: 1rem 0;
}

.icons {
    font-size: 3rem;
}

#disqus_thread {
    margin-top: 5rem;
}

.contacts {
  text-align: center;
  display: block;
  width: 100%;
}

.label {
  margin: 0 auto auto auto;
  font-weight: bolder;
  font-size: 1.5rem;
}

.contact {
  display: inline-block;
  float: left;
  padding: 1rem;
  margin: .2rem;
  width: 14%;
}

.contact:first-child {
  margin-left: 7%;
}

.contact .name {
  font-size: 1rem;
  font-weight: bold;
}

.contact a {
  color: rgb(50, 50, 230);
}

.contact .phone {
  color: rgb(30, 150, 50);
}
