/* MSOE-SSE Website
 * Header re-style
 *
 *      This document is the styling for the SSE website header. The primary purpose
 *      of this re-write is to make the website resizeable and mobile friendly. It does
 *      this by using the rem and % unit length, if you edit this document, DO NOT ADD
 *      PIXEL MEASUREMENTS FOR POSITIONING because they are hard coded and make webpages
 *      ugly when re-sized.
 */


// Logo

.logo {
    /* Provides some spacing for better reading and accessibility between
        logo and */
    margin-bottom: 1rem;
}


.logotext {
    /* Make the font pretty */
    font-size: 4rem;
    font-weight: 800;

    /* Provide some space between text and logo svg*/
    padding-right: .5rem;

}


.logosvg {
    /* SVGs are sized by width, this looks decent*/
    width: 4rem;

    /* Aligns image to the logo text*/
    vertical-align: top;
}



// Navigation Bar

.navigation-bar {
    /* Gives breathing room between nav and social while also matching spacing style above*/
    margin-bottom: 1rem;
}

.menu-button {
    /* Doesn't display button until in menu view at 640px */
    display: none;

    /* Center to match styles*/
    text-align: center;

    /* Make text pretty and to match styling */
    font-size: 2rem;
    font-weight: 700;
}

.navigation-bar_link {
    /* Making the font pretty while also matching logo text style*/
    font-size: 2rem;
    font-weight: 700;

    /* Remove underline from links*/
    text-decoration: none;

    /* Provide spacing between link options; done only on the right as to prevent
        a left margin which would push the bar out of alignment with the logo div*/
    margin-right: 1.5rem
}


// Social Bar

.social-bar {
    /* Align the social bar to the right of the window */
    text-align: right;
    margin-left: auto;
    display: flex;
}

.social-bar_link {
    /* Make icons pretty and match */
    font-size: 1.66rem;

    /* Remove underline from link */
    text-decoration: none;
}


// Dropdown Menu

.dropdown-wrapper {
    /* Puts the wrapper div class inline with the other link elements so they stay in a
        nice order */
    display: inline-block;
}

.dropdown-menu-content {
    /* Don't want to display the menu until the parent wrapper div is hovered over*/
    display: none;

    /* Forces the menu to stay in place and prevents it from moving items when it appears */
    position: absolute;
    z-index: 2;

    /* Make the text readable when the menu appears*/
    background-color: var(--table-border-color);

    /* Gives some spacing for readability */
    padding: 1rem;

}

.navigation-bar_link_dropdown {
    /* Making the font pretty while also matching nav bar text style*/
    font-size: 1.5rem;
    font-weight: 500;

    /* Provide spacing between link options; done only on the right as to prevent
        a left margin which would push the bar out of alignment with the logo div*/
    margin-right: 1rem;
    margin-bottom: .5rem;

    /* Makes the links display in a downward line*/
    display: block;
}


// Actions

.dropdown-wrapper:hover .dropdown-menu-content {
    /* Changes the menu from none to block so it displays*/
    display: block;
}



/* This is mobile view styling - only time you have to use px */
@media screen and (max-width: 770px) {

    .utility-bar {
        flex-direction: column;
    }

    .logo {
        /* Centers the logo in the middle of the mobile page*/
        text-align: center;
    }

    .main-menu {
        text-align: center;
    }

    .main-menu-items {
        /* Mobile container does not display until hovered over*/
        display: none;

        /* Center the menu */
        margin: auto;

        /* Provide some spacing for better reading */
        padding: .5rem;

        /* Adds a nice background color */
        background-color: var(--table-border-color);
    }

    .navigation-bar_link {
        /* Makes them display in descending order*/
        display: block;

        /* Aligns the text to the left - this design is based off industry standard*/
        text-align: left;

        /* Make the text pretty */
        font-size: 1.5rem;
        text-decoration: none;

        /* Add some spacing for readability */
        margin-bottom: .1rem;

        /* Making the underline stay under the words only */
        width: fit-content;
    }

    .navigation-bar_link_dropdown {
        /* Align text to the left like in the regular menu */
        text-align: left;

        /* Make the text pretty */
        font-size: 1rem;
        text-decoration: none;

        /* Add some spacing for better hierarchy */
        margin-left: .5rem
    }

    .dropdown-menu-content {
        /* Makes the drop down display in descending order */
        display: block;

        /* Make the drop down appear under the other menu items */
        position: relative;

        /* Make the color match and the menu pretty */
        background-color: var(--table-border-color);
    }

    .menu-button {
        /* Displays the button when in mobile view */
        display: inline-block;
    }

    .social-bar {
        /* Centers text to match styling in header */
        text-align: center;
        margin: 1rem 0;
        display: flex;
    }

}

.utility-bar {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    span {
        width: 100%;
        margin-right: 0.5rem;
    }
}

// Full site search
.site-search {
    color: var(--text-color);
    background: var(--code-bg-color);
    border-radius: 0.25rem;
    width: 100%;
    border-style: solid;
    border-color: --text-color;
    box-shadow: none;
    padding: 0.3rem
}
  
.site-search-results {
    list-style: none;
    padding: 0;
    text-align: left;
    position: absolute;
    background-color: var(--table-border-color);
    z-index: 20;
}
  
// Search result childrens
.site-search-results li {
    margin: 1rem;
}
  