.points-row {
    text-align: center;
}

#LoadingHeader {
    display: flex;
    justify-content: center;
}

#TableWrapper {
    display: none;
    overflow-x: scroll;
}

#PointsTable {
    font-size: 14px;
}

#ErrorMessage {
    display: none;
}

