#raffle {
    display: none;
    background-color: black;
    border: 0.5em solid gray;
}

#spin {
    width: 100%;
}

.buttonwrap {
    margin: 0;
    border-top: 0.5em solid gray;
}

#winner {
    color: white;
    font-size: 1em;
    margin: 0;
    padding: 1em;
}

.entry {
    color: white;
    font-size: 1em;
    height: 3.5em;
    margin: 0;
    padding: 1em;
    text-align: center;
    text-shadow: black 0 0 0.5em;
}

#entries {
    width: 100%;
}

#entrieswrap {
    height: 23em;
    overflow: hidden;
    position: relative;
}

#LoadingHeader {
    display: flex;
    justify-content: center;
}

#ErrorMessage {
    display: none;
}
